<style>
  #mini-cart{
    width: 30%;
    min-width: 30%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 85px;
    background-color: peachpuff;
    z-index: 5;
    transform: translateX(100%);
    transition: all 0.8s 0s ease;
  }
  #mini-cart.active{
    transform: translateX(0%);
  }
  .cart__header{
    padding: 2rem 1rem;
    position: relative;
  }
  .cart__close{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 1rem;
  }
</style>

<div id="mini-cart" class="{{ section.id}}">
  <div class="cart__header">
    <h2>Carrito Custom <br>{{ cart.item_count }} Item</h2>
    <span id="close-cart" class="cart__close">[x]</span>
  </div>
  {%- render 'items-on-cart' -%}
</div>

<script>
</script>