<style>
  #mini-cart{
    width: 30%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background-color: black;
    opacity: 0.3;
  }
</style>

<div id="mini-cart" class="[section-id]">

</div>